div.sourceCode,
pre>code.sourceCode {
    background-color: $color-black !important;
    border: 0px;
}

pre code {
    background-color: $color-lightblue-2 !important;
    border: 2px solid $color-gray-dark;
}