/*-- scss:defaults --*/
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/code_block";


// Text of the navbar: home, projects...


#title-block-header {
  display: block;
  text-align: center;
}

.quarto-title-banner {
  
  margin-top: 1rem;
  
  & h1.title {
    color: $color-white;
  }
}

div.sourceCode,
pre>code.sourceCode {
    background-color: $color-black !important;
    border: 0px;
}

div.sourceCode {
  padding: .3rem;
}

.sourceCode {
  border-radius: 3px;
  padding: 0.5em;
  overflow: auto;
}

.cell-output.cell-output-stdout {
    background-color: $color-lightblue-2 !important;
    border: 2px solid $color-gray-dark;
}


